[Unit]
Description=pr-discord-notifier service

StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/pr-discord-notifier
ExecStart=/home/ec2-user/pr-discord-notifier/pr-discord-notifier --config config --environment production
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
